<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ta.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="com.ta.entry.SysLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="logTime" column="log_time" jdbcType="TIMESTAMP"/>
            <result property="logUserId" column="log_user_id" jdbcType="BIGINT"/>
            <result property="logType" column="log_type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,log_time,log_user_id,
        log_type
    </sql>
</mapper>
